@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
  isolation: isolate;
}

* {
  overscroll-behavior-x: none;
}


strong
{
  font-weight: 800;
  color: oklch(70.7% 0.165 254.624);
}